<html>
    <body>
        <center>
            <h1> The server operating system is: {{ ansible_distribution }}</h1>
            <br>
            <h1> The hostname is: {{ ansible_hostname }}</h1>
        </center>
    </body>
</html>